#### Revisar la data

In [128]:
# Importar librerías necesarias
import pandas as pd

In [129]:
dataframe_train = pd.read_csv('./data/Train.csv')
dataframe_train

,ID,filename,growth_stage,damage,extent,season
0,ID_1S8OOWQYCB,L427F01330C01S03961Rp02052.jpg,S,WD,0,SR2020
1,ID_0MD959MIZ0,L1083F00930C39S12674Ip.jpg,V,G,0,SR2021
2,ID_JRJCI4Q11V,24_initial_1_1463_1463.JPG,V,G,0,LR2020
3,ID_DBO3ZGI1GM,L341F00167C01S00324Rp14178.jpg,M,DR,60,SR2020
4,ID_ORZLWTEUUS,L1084F02394C39S13931Ip.jpg,V,G,0,SR2021
...,...,...,...,...,...,...
26063,ID_3II1SXC0ZO,L1084F03259C39S12149Rp41671.jpg,M,DR,30,SR2021
26064,ID_OE7OU9ZF4U,L406F04369C01S07190Rp22847.jpg,V,G,0,LR2021
26065,ID_20M531UIZZ,L134F00766C01S09784Rp26034.jpg,M,G,0,LR2021
26066,ID_BZBV2FH0KL,L1153F02464C01S00194Rp01561.jpg,F,G,0,SR2020
26067,ID_ZVBF61EA0I,L406F00362C01S00614Rp06760.jpg,V,G,0,SR2020

In [130]:
dataframe_test = pd.read_csv('./data/Test.csv')
dataframe_test

,ID,filename,growth_stage,damage,season
0,ID_ROOWKB90UZ,L122F00315C01S02151Rp04021.jpg,V,WD,SR2020
1,ID_PTEDRY0CYM,L1089F03254C01S08845Rp25119.jpg,F,WD,LR2021
2,ID_5WJXDV96R4,L365F01913C39S12578Rp42918.jpg,V,WD,SR2021
3,ID_DM4AQLXXYG,223_repeat_2_2230_3599_2343.JPG,F,G,LR2020
4,ID_V6YTIT7I2S,L354F00276C01S08045Rp23693.jpg,F,G,LR2021
...,...,...,...,...,...
8658,ID_VYEB1ABJYA,L1122F01093C01S10236Rp20455.jpg,V,WD,LR2021
8659,ID_HQT6T7QYA4,L322F03389C39S14157Rp40614.jpg,V,WD,SR2021
8660,ID_FKC93FVGL1,L134F00855C01S05273Rp06412.jpg,V,WD,SR2020
8661,ID_EEJLBVEFGI,L410F02877C01S02293Rp01971.jpg,V,WD,SR2020
8662,ID_2B1IP642X1,L1089F01682C01S08539Rp27300.jpg,F,G,LR2021

In [131]:
dataframe_sample = pd.read_csv('./data/SampleSubmission.csv')
dataframe_sample

                 ID  extent
0     ID_KJ12GE2U80       0
1     ID_W33POE3DBX       0
2     ID_1DZ7VKQTS9       0
3     ID_BAA59RN8RS       0
4     ID_45QA45VTEJ       0
...             ...     ...
8658  ID_UPB7G96B0U       0
8659  ID_NHPZ1YUUU1       0
8660  ID_VUKMPTVTDX       0
8661  ID_5D8ICCNO95       0
8662  ID_AK8XCT49VJ       0

[8663 rows x 2 columns]

##### Vamos a verificar si existen filas repetidas con los mismos valores o no

In [132]:
dataframe_train.duplicated().value_counts()

False    26068
dtype: int64

In [133]:
dataframe_test.duplicated().value_counts()

False    8663
dtype: int64

In [134]:
dataframe_sample.duplicated().value_counts()

False    8663
dtype: int64

Se puede ver que no existen filas repetidas

##### Vamos a verificar si hay data duplicada en cada una de las filas

In [135]:
dataframe_train['filename'].value_counts().sort_values(ascending=False)

L427F01330C01S03961Rp02052.jpg     1
L415F01160C39S14146Rp41363.jpg     1
L341F00167C01S00324Rp14178.jpg     1
L1084F02394C39S13931Ip.jpg         1
L361F02347C01S10018Rp27925.jpg     1
                                  ..
L406F02369C01S06908Rp32150.jpg     1
L371F04405C20S11053Rp27732.jpg     1
L1150F01299C39S12449Rp33134.jpg    1
L342F01261C01S00366Rp01836.jpg     1
L406F00362C01S00614Rp06760.jpg     1
Name: filename, Length: 26068, dtype: int64

In [136]:
dataframe_test['filename'].value_counts().sort_values(ascending=False)

L122F00315C01S02151Rp04021.jpg     1
L323F03196C01S07824Rp19277.jpg     1
L365F01913C39S12578Rp42918.jpg     1
223_repeat_2_2230_3599_2343.JPG    1
L354F00276C01S08045Rp23693.jpg     1
                                  ..
L322F03389C39S14157Rp40614.jpg     1
L134F00855C01S05273Rp06412.jpg     1
L410F02877C01S02293Rp01971.jpg     1
244_repeat_2_2083_3224_2066.JPG    1
L1089F01682C01S08539Rp27300.jpg    1
Name: filename, Length: 8663, dtype: int64

In [137]:
dataframe_train['ID'].value_counts().sort_values(ascending=False)

ID_1S8OOWQYCB    1
ID_YBE047NM5J    1
ID_DBO3ZGI1GM    1
ID_ORZLWTEUUS    1
ID_84VIVATWWN    1
                ..
ID_MSIN1S49F3    1
ID_4OGOEC4FLT    1
ID_8YS6Z5J14V    1
ID_5FAHR85EJN    1
ID_ZVBF61EA0I    1
Name: ID, Length: 26068, dtype: int64

In [138]:
dataframe_test['ID'].value_counts().sort_values(ascending=False)

ID_ROOWKB90UZ    1
ID_FAKTXKARL3    1
ID_5WJXDV96R4    1
ID_DM4AQLXXYG    1
ID_V6YTIT7I2S    1
                ..
ID_HQT6T7QYA4    1
ID_FKC93FVGL1    1
ID_EEJLBVEFGI    1
ID_HM6XXQNUQJ    1
ID_2B1IP642X1    1
Name: ID, Length: 8663, dtype: int64

In [139]:
dataframe_sample['ID'].value_counts().sort_values(ascending=False)

ID_KJ12GE2U80    1
ID_BQNDUJMFMJ    1
ID_1DZ7VKQTS9    1
ID_BAA59RN8RS    1
ID_45QA45VTEJ    1
                ..
ID_NHPZ1YUUU1    1
ID_VUKMPTVTDX    1
ID_5D8ICCNO95    1
ID_WQ3F14WFD8    1
ID_AK8XCT49VJ    1
Name: ID, Length: 8663, dtype: int64

Como se puede observar no se encontro data duplicada en filename ni en ID.

##### Se van a eliminar los datos duplicados

In [140]:
print(f"Train cantidad de datos: {len(dataframe_train)}")
print(f"Test cantidad de datos: {len(dataframe_test)}")
print(f"Sample cantidad de datos: {len(dataframe_sample)}")

Train cantidad de datos: 26068
Test cantidad de datos: 8663
Sample cantidad de datos: 8663

In [141]:
def delete_duplicated_data_of_df(df, column_name):
    return df.drop_duplicates(subset=[column_name], keep=False)

Eliminar duplicados de ID (Si es que hubiera)

In [142]:
dataframe_train = delete_duplicated_data_of_df(dataframe_train, "ID")
dataframe_test = delete_duplicated_data_of_df(dataframe_test, "ID")
dataframe_sample = delete_duplicated_data_of_df(dataframe_sample, "ID")

In [143]:
print(f"Train cantidad de datos: {len(dataframe_train)}")
print(f"Test cantidad de datos: {len(dataframe_test)}")
print(f"Sample cantidad de datos: {len(dataframe_sample)}")

Train cantidad de datos: 26068
Test cantidad de datos: 8663
Sample cantidad de datos: 8663

Eliminar duplicados de filename (Si es que hubiera)

In [144]:
dataframe_train = delete_duplicated_data_of_df(dataframe_train, "filename")
dataframe_test = delete_duplicated_data_of_df(dataframe_test, "filename")

In [145]:
print(f"Train cantidad de datos: {len(dataframe_train)}")
print(f"Test cantidad de datos: {len(dataframe_test)}")
print(f"Sample cantidad de datos: {len(dataframe_sample)}")

Train cantidad de datos: 26068
Test cantidad de datos: 8663
Sample cantidad de datos: 8663

La cantidad de datos sigue siendo la misma y no se encontraron duplicados, por lo cual se puede concluir que la data que tenemos esta limpia :)

De todas formas formas optar por este tipo de revisión de data es bueno para asegurar la calidad de los datos para llevar a cabo los análisis de forma correcta.